@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body::-webkit-scrollbar {
  background-color: #0d8df2;
}

body::-webkit-scrollbar-thumb {
  background-color: #008080;
}

body {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  -ms-grid-rows: (auto)[20];
      grid-template-rows: repeat(20, auto);
  /* CAJON DE NAVEGACION (HEADER)   CAJON DE NAVEGACION (HEADER)   CAJON DE NAVEGACION (HEADER) */
  /* CAJON DE ESTUDIOS    CAJON DE ESTUDIOS    CAJON DE ESTUDIOS    CAJON DE ESTUDIOS    CAJON DE ESTUDIOS    */
  /* CAJON DE CONTACTOS   CAJON DE CONTACTOS   CAJON DE CONTACTOS   CAJON DE CONTACTOS   CAJON DE CONTACTOS   CAJON DE CONTACTOS   */
}

body.darkMode {
  background-color: #222222;
  color: #fff;
}

body .navegador {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(imagenes_1/Verdes-suaves-600x292.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: 30px (auto)[8] 30px;
      grid-template-columns: 30px repeat(8, auto) 30px;
  -ms-grid-rows: 20px (auto)[8];
      grid-template-rows: 20px repeat(8, auto);
}

body .navegador.darkMode {
  background-image: url(imagenes_1/Verdes-suaves-opacity50.png);
}

body .navegador .titulo_navegador {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5px;
  color: #008080;
  text-decoration: none;
  border: 2px solid #008080;
  border-radius: 20px;
  font-size: 2rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .navegador .titulo_navegador.darkMode {
  color: #cacaca;
}

body .navegador .titulo_navegador.darkMode.darkmode:hover {
  color: #fff;
}

body .navegador .titulo_navegador:hover {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background: #008080;
  color: #fff;
  border: 2px solid #fff;
}

body .navegador .caja_titulo1_navegador {
  display: none;
}

body .navegador .menu_navegador {
  display: none;
  justify-self: end;
  color: #008080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: -2/-7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-right: -5px;
}

body .navegador .menu_navegador .submenu {
  position: relative;
  display: -ms-grid;
  display: grid;
  height: 1.56rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #008080;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #008080;
  margin-right: 5px;
  text-decoration: none;
}

body .navegador .menu_navegador .submenu.darkMode {
  color: #cacaca;
}

body .navegador .menu_navegador .submenu:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background: #008080;
  color: #fff;
  border: 2px solid #fff;
}

body .navegador .menu_navegador .subMenu1.darkMode {
  color: #cacaca;
}

body .navegador .menu_navegador .subMenu2.darkMode {
  color: #cacaca;
}

body .navegador .menu_navegador .subMenu2.darkMode {
  color: #cacaca;
}

body .navegador .menu_navegador .subMenu4.darkMode {
  color: #cacaca;
}

body .navegador .nombre {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: #008080;
  text-decoration: underline;
  font-size: 3.125rem;
  grid-column: -1/-11;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

body .navegador .nombre.darkMode {
  color: #cacaca;
}

body .navegador .txt_imagen {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: lightslategrey;
  font-size: 1.25rem;
  grid-column: -1/-11;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

body .navegador .txt_imagen.darkMode {
  color: #9e9e9e;
}

body .navegador .imagen_navegador {
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
  grid-column: -1/-11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
}

body .navegador .contenedor_img_nav_float {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  z-index: 2;
  bottom: 0;
  top: 0;
  width: 25%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #000;
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/9;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

body .navegador .contenedor_img_nav_float.active {
  display: -ms-grid;
  display: grid;
}

body .navegador .contenedor_img_nav_float .img_nav_float {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/9;
}

body .navegador .contenedor_img_nav_float .btn_img_nav_float {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #ee425f;
  color: #fff;
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: 3;
  cursor: pointer;
  grid-column: -9/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .navegador .contenedor_img_nav_float .btn_img_nav_float:hover {
  background-color: #ee425f8a;
}

body .navegador .contenedor_img_nav_float .caja_informacionPersonal {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  position: absolute;
  background: #00808096;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 20px;
  color: #fff;
  line-height: 50px;
  width: 92%;
  height: 92%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/9;
}

body .navegador .contenedor_img_nav_float .caja_informacionPersonal.darkMode {
  color: #cacaca;
}

body .imagen_navegador:hover {
  opacity: 90%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body .contenedor_img_menu_nav {
  display: none;
}

body .titulo_caja_Estudios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .titulo_caja_Estudios.darkMode {
  background-color: #222222;
  -webkit-box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.25);
}

body .titulo_caja_Estudios .txt_titulo_caja_estudios {
  font-size: 2rem;
}

body .titulo_caja_Estudios .txt_titulo_caja_estudios.darkMode {
  color: #cacaca;
}

body .titulo_caja_Estudios .svg_titulo_caja_estudios {
  margin-left: 5px;
  fill: #008080;
}

body .titulo_caja_Estudios .svg_titulo_caja_estudios.darkMode {
  fill: #cacaca;
}

body .caja_estudios {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  margin: 0px 50px 10px 50px;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-columns: (minmax(300px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: minmax(200px, auto);
  /* CAJA DE INFOTEP */
  /* VENTANA FLOTANTE DE INFOTEP */
}

body .caja_estudios.darkMode {
  color: #cacaca;
  background-color: #222222;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body .caja_estudios .caja_infotep {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
}

body .caja_estudios .caja_infotep .titulo_infotep {
  background: #008080;
  border-top: 3px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-self: center;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_estudios .caja_infotep .titulo_infotep.darkMode {
  border-top: 3px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
  border-right: 2px solid #cacaca;
}

body .caja_estudios .caja_infotep .titulo_infotep .txt_titulo_infotep {
  font-size: 1.5rem;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body .caja_estudios .caja_infotep .titulo_infotep .txt_titulo_infotep.darkMode {
  color: #fff;
}

body .caja_estudios .caja_infotep .titulo_infotep .infotep_logo {
  margin-left: 5px;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep {
  border: 2px solid #cacaca;
  background-color: #0080804f;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
  /* Primera caja (Infotep) */
  /* segunda caja */
  /* Tercera Caja */
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .caja_dpw {
  margin-bottom: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .caja_dpw .dpw_titulo.darkMode {
  color: #cacaca;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .caja_dpw .linea_dpw {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .caja_dpw .logo_dpw {
  margin: 5px auto;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce {
  margin-bottom: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  /* Logos */
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce .mpoi_titulo.darkMode {
  color: #cacaca;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce .linea_mpoi {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce .logos_mpoi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce .logo_world {
  margin: 5px auto;
  width: 60px;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce .logo_excel {
  margin: 5px auto;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .microsoft_oficce .logo_pointer {
  margin: 5px auto;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .window_nt {
  width: 150px;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .window_nt .w-nt_titulo.darkMode {
  color: #cacaca;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .window_nt .w-nt_logo {
  margin: 5px auto;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .auxiliar_ventas {
  width: 150px;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .auxiliar_ventas .titulo_auxiliar_ventas.darkMode {
  color: #cacaca;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .auxiliar_ventas .img_auxiliarVentas {
  fill: #000;
  -ms-grid-column-align: center;
      justify-self: center;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .contenedor .auxiliar_ventas .img_auxiliarVentas.darkMode {
  fill: #cacaca;
}

body .caja_estudios .caja_infotep .caja_contenido_infotep .infotep_btn {
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

body .caja_estudios .ventanaFlotante_infotep {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  background: #fff;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-radius: 5px;
  margin-left: -1000px;
  z-index: 2;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: ()[auto];
      grid-template-rows: repeat(auto);
  /* Botón para Salir de Ventana Flotante del Infotep */
}

body .caja_estudios .ventanaFlotante_infotep.active {
  margin-left: 0;
  visibility: visible;
}

body .caja_estudios .ventanaFlotante_infotep.darkMode {
  background: #222222;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body .caja_estudios .ventanaFlotante_infotep .titulo_ventanaFlotante_infotep {
  color: #fff;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: #008080;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep {
  overflow: auto;
  height: 400px;
  border-radius: 25px;
  color: #008080;
  padding: 10px 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 25px;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-rows: minmax(200px, auto);
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .caja_diseñadorPaginasWeb {
  background: #e5e7e9;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .txt_diseñadorPaginasWeb {
  text-align: center;
  text-shadow: 0 0 2px #000;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .caja_powerPoint {
  background: #e5e7e9;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  justify-items: center;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .txt_powerPoint {
  text-align: center;
  text-shadow: 0 0 2px #000;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .caja_ManejadorProgramasOficinaInternet {
  background: #e5e7e9;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  justify-items: center;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .txt_ManejadorProgramasOficinaInternet {
  text-align: center;
  text-shadow: 0 0 2px #000;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .caja_window_nt {
  background: #e5e7e9;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  justify-items: center;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep .txt_window_nt {
  text-align: center;
  text-shadow: 0 0 2px #000;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep::-webkit-scrollbar {
  background-color: #0d8df2;
}

body .caja_estudios .ventanaFlotante_infotep .contenedor_ventanaFlotante_infotep::-webkit-scrollbar-thumb {
  background-color: #31cf5d;
}

body .caja_estudios .ventanaFlotante_infotep .btn_salir_ventanaFlotante_infotep {
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 25px 25px 0;
  padding: 20px 10px;
  border-radius: 50%;
  font-size: 2rem;
  color: #17202a50;
  background: #00808020;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

body .caja_estudios .ventanaFlotante_infotep .btn_salir_ventanaFlotante_infotep:hover {
  color: #fff;
  background: #008080;
}

body .caja_estudios .caja_estudiosMedios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

body .caja_estudios .caja_estudiosMedios .tituloPrincipal_estudiosMedios {
  background: #008080;
  border-top: 3px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-self: center;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_estudios .caja_estudiosMedios .tituloPrincipal_estudiosMedios.darkMode {
  border-top: 3px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
  border-right: 2px solid #cacaca;
}

body .caja_estudios .caja_estudiosMedios .tituloPrincipal_estudiosMedios .txt_tituloPrincipal_estudiosMedios {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

body .caja_estudios .caja_estudiosMedios .tituloPrincipal_estudiosMedios .logo_tituloPrincipal_estudiosMedios {
  margin-left: 5px;
  fill: #fff;
}

body .caja_estudios .caja_estudiosMedios .tituloPrincipal_estudiosMedios .logo_tituloPrincipal_estudiosMedios.darkMode {
  fill: #cacaca;
}

body .caja_estudios .caja_estudiosMedios .contenido_estudiosMedios {
  border-radius: 20px;
  padding: 0 5px;
  background-color: #3581b1;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 2px solid #cacaca;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

body .caja_estudios .caja_estudiosMedios .contenido_estudiosMedios .titulo_conclusionEstudiosMedios {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  font-size: 1.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_estudios .caja_estudiosMedios .contenido_estudiosMedios .img_escuela {
  border-radius: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .caja_estudios .caja_estudiosMedios .contenido_estudiosMedios .btn_estudiosMedios {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 10px 0 0 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios {
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  z-index: 2;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5);
          box-shadow: rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios.active {
  display: -ms-grid;
  display: grid;
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios .titulo_ventanaFlotante_estudiosMedios {
  background-color: #008080;
  font-size: 1.5rem;
  width: 100%;
  color: #fff;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios .contenedor_ventanaFlotante_estudiosMedios {
  gap: 10px;
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-rows: minmax(200px, auto);
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios .contenedor_ventanaFlotante_estudiosMedios .caja_certificadoBachiller {
  border-radius: 15px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  max-width: 250px;
  background-color: #e5e7e9;
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios .contenedor_ventanaFlotante_estudiosMedios .caja_certificadoBachiller .titulo_certificadoBachiller {
  text-align: center;
  color: #008080;
  text-shadow: rgba(0, 0, 0, 0.5);
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios .btnSalir_ventanaFlotante_estudiosMedios {
  cursor: pointer;
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #0080804f;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .caja_estudios .caja_ventanaFlotante_estudiosMedios .btnSalir_ventanaFlotante_estudiosMedios:hover {
  background-color: #008080;
}

body .tituloPrincipal_experiencias {
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

body .tituloPrincipal_experiencias.darkMode {
  background-color: #222222;
  -webkit-box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.25);
}

body .tituloPrincipal_experiencias .txt_tituloPrincipal_experiencas {
  font-size: 2rem;
}

body .tituloPrincipal_experiencias .txt_tituloPrincipal_experiencas.darkMode {
  color: #cacaca;
}

body .tituloPrincipal_experiencias .svg_tituloPrincipal_experiencias {
  fill: #008080;
}

body .tituloPrincipal_experiencias .svg_tituloPrincipal_experiencias.darkMode {
  fill: #cacaca;
}

body .cajon_experiencias {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-columns: (minmax(10px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10px, auto));
  -ms-grid-rows: ()[minmax];
      grid-template-rows: repeat(minmax(10px, auto));
}

body .cajon_experiencias.darkMode {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body .cajon_experiencias .caja_ferreteria {
  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#669999));
  background: linear-gradient(to right, #33ccff 0%, #669999 100%);
  border: 2px solid #9e9e9e;
  border-radius: 25px;
  padding: 10px;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
}

body .cajon_experiencias .caja_ferreteria.darkMode {
  border: 2px solid #cacaca;
}

body .cajon_experiencias .caja_ferreteria .titulo_ferreteria {
  font-size: 2rem;
  font-family: 'Gluten', cursive;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #fff;
}

body .cajon_experiencias .caja_ferreteria .titulo_ferreteria.darkMode {
  color: #cacaca;
}

body .cajon_experiencias .caja_ferreteria .linea_ferreteria {
  color: #fff;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .cajon_experiencias .caja_ferreteria .img_ferreteria {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  height: 70%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .cajon_experiencias .caja_ferreteria .parrafo_ferreteria {
  color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .cajon_experiencias .caja_servicioCliente {
  border: 2px solid #505050;
  border-radius: 25px;
  padding: 10px;
  -ms-grid-row-align: center;
      align-self: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #606060), to(rgba(115, 20, 231, 0.856)));
  background: linear-gradient(to right, #606060 50%, rgba(115, 20, 231, 0.856) 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
}

body .cajon_experiencias .caja_servicioCliente .titulo_servicioCliente {
  font-family: 'Gluten', cursive;
  font-size: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #fff;
}

body .cajon_experiencias .caja_servicioCliente .linea_servicioCliente {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
  height: 1px;
  color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .cajon_experiencias .caja_servicioCliente .img_servicioCliente {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 80%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .cajon_experiencias .caja_servicioCliente .parrafo_servicioCliente {
  color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .cajon_experiencias .caja_marketing {
  border: 2px solid #9e9e9e;
  border-radius: 25px;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#0808), to(#b3a2a2));
  background: linear-gradient(to right, #0808 0%, #b3a2a2 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
}

body .cajon_experiencias .caja_marketing .titulo_marketing {
  font-family: 'Gluten', cursive;
  font-size: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .cajon_experiencias .caja_marketing .linea_marketing {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body .cajon_experiencias .caja_marketing .img_marketing {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 80%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .cajon_experiencias .caja_marketing .parrafo_marketing {
  color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body .tituloPrincipal_contactos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 19;
  -ms-grid-row-span: 1;
  grid-row: 19/20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .tituloPrincipal_contactos.darkMode {
  background-color: #222222;
  -webkit-box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.25);
  color: #cacaca;
}

body .tituloPrincipal_contactos .txt_tituloPrincipal_contactos {
  font-size: 2rem;
  color: #008080;
}

body .tituloPrincipal_contactos .txt_tituloPrincipal_contactos.darkMode {
  color: #cacaca;
}

body .tituloPrincipal_contactos .svg_tituloPrincipal_contactos {
  margin-left: 5px;
  fill: #008080;
}

body .tituloPrincipal_contactos .svg_tituloPrincipal_contactos.darkMode {
  fill: #cacaca;
}

body .caja_contactos {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 20px;
  margin: 0 50px 20px 50px;
  color: #000;
  border-radius: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  grid-row: 20/21;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px 1fr);
      grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px 1fr);
  -ms-grid-rows: minmax(300px, auto);
      grid-template-rows: minmax(300px, auto);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* CAJA DE INFORMACION ADICIONAL */
  /* CAJA DE REDES SOCIALES */
  /* CAJA INFORMACION DE CONTACTOS */
  /* Copy Right */
}

body .caja_contactos.darkMode {
  background-color: #222222;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body .caja_contactos .caja_informacion {
  margin-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  -ms-grid-rows: minmax(1fr, auto);
      grid-template-rows: minmax(1fr, auto);
}

body .caja_contactos .caja_informacion .titulo_columna1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_informacion .titulo_columna1.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_informacion .parrafo_columna1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2/10;
  font-family: "Style Script";
  font-size: 1.5625rem;
  line-height: 30px;
}

body .caja_contactos .caja_informacion .parrafo_columna1.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales {
  margin-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: (auto)[20];
      grid-template-columns: repeat(20, auto);
  -ms-grid-rows: (auto)[20];
      grid-template-rows: repeat(20, auto);
  /* Facebook */
  /* Twitter */
  /* Instagram */
  /* Whatsapp */
  /* Cajón de Códigos QR */
}

body .caja_contactos .caja_redes_sociales .titulo_columna2 {
  grid-column: -1/-20;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_redes_sociales .titulo_columna2.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_facebook {
  width: 150px;
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: -1/-20;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body .caja_contactos .caja_redes_sociales .caja_facebook .logo_facebook {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

body .caja_contactos .caja_redes_sociales .caja_facebook .txt_facebook.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_twitter {
  width: 150px;
  justify-self: start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: -1/-20;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
}

body .caja_contactos .caja_redes_sociales .caja_twitter .logo_twitter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

body .caja_contactos .caja_redes_sociales .caja_twitter .txt_twitter.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_instagram {
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: -1/-20;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

body .caja_contactos .caja_redes_sociales .caja_instagram .logo_instagram {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

body .caja_contactos .caja_redes_sociales .caja_instagram .txt_instagram.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_whatsapp {
  grid-column: -1/-20;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
}

body .caja_contactos .caja_redes_sociales .caja_whatsapp .logo_whatsapp {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

body .caja_contactos .caja_redes_sociales .caja_whatsapp .txt_whatsapp.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_facebook {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  justify-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 15;
  -ms-grid-row-span: 2;
  grid-row: 15/17;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_facebook .txt_codigo_facebook {
  color: #0d8df2;
  -webkit-text-decoration: underline 1px solid #1a5276;
          text-decoration: underline 1px solid #1a5276;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_facebook .txt_codigo_facebook.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_twitter {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  justify-items: center;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
  -ms-grid-row: 15;
  -ms-grid-row-span: 2;
  grid-row: 15/17;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_twitter .txt_codigo_twitter {
  color: #1aa2f2;
  -webkit-text-decoration: underline 1px solid #3498db;
          text-decoration: underline 1px solid #3498db;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_twitter .txt_codigo_twitter.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_instagram {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  justify-items: center;
  -ms-grid-column: 10;
  -ms-grid-column-span: 5;
  grid-column: 10/15;
  -ms-grid-row: 15;
  -ms-grid-row-span: 2;
  grid-row: 15/17;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_instagram .txt_codigo_instagram {
  color: #ee425f;
  -webkit-text-decoration: underline 1px solid #ec7063;
          text-decoration: underline 1px solid #ec7063;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_ws {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  justify-items: center;
  -ms-grid-column: 15;
  -ms-grid-column-span: 5;
  grid-column: 15/20;
  -ms-grid-row: 15;
  -ms-grid-row-span: 2;
  grid-row: 15/17;
}

body .caja_contactos .caja_redes_sociales .caja_codigo_ws .txt_codigo_ws {
  color: #31cf5d;
  -webkit-text-decoration: underline 1px solid #58d68d;
          text-decoration: underline 1px solid #58d68d;
}

body .caja_contactos .caja_info_contactos {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
  /* Dirección */
  /* Teléfono */
  /* Email */
}

body .caja_contactos .caja_info_contactos .titulo_columna3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_info_contactos .titulo_columna3.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_info_contactos .caja_direccion {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: minmax(1fr, auto);
      grid-template-rows: minmax(1fr, auto);
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  margin-bottom: 10px;
}

body .caja_contactos .caja_info_contactos .caja_direccion.darkMode {
  -webkit-box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.25);
}

body .caja_contactos .caja_info_contactos .caja_direccion .logo_direccion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_info_contactos .caja_direccion .logo_direccion.darkMode {
  fill: #cacaca;
}

body .caja_contactos .caja_info_contactos .caja_direccion .txt_direccion {
  margin-left: 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_info_contactos .caja_direccion .txt_direccion.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_info_contactos .caja_telefono {
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: minmax(1fr, auto);
      grid-template-rows: minmax(1fr, auto);
}

body .caja_contactos .caja_info_contactos .caja_telefono.darkMode {
  -webkit-box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.25);
}

body .caja_contactos .caja_info_contactos .caja_telefono .logo_telefono {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_info_contactos .caja_telefono .logo_telefono.darkMode {
  fill: #cacaca;
}

body .caja_contactos .caja_info_contactos .caja_telefono .txt_telefono {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: 10px;
}

body .caja_contactos .caja_info_contactos .caja_telefono .txt_telefono.darkMode {
  color: #cacaca;
}

body .caja_contactos .caja_info_contactos .caja_gmail {
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: minmax(1fr, auto);
      grid-template-rows: minmax(1fr, auto);
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6/11;
}

body .caja_contactos .caja_info_contactos .caja_gmail.darkMode {
  -webkit-box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.25);
}

body .caja_contactos .caja_info_contactos .caja_gmail .logo_gmail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_info_contactos .caja_gmail .logo_gmail.darkMode {
  fill: #cacaca;
}

body .caja_contactos .caja_info_contactos .caja_gmail .txt_gmail {
  margin-left: 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .caja_contactos .caja_info_contactos .caja_gmail .txt_gmail.darkMode {
  color: #cacaca;
}

body .caja_contactos .copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
}

body .caja_contactos .copyright .logo_copyright {
  margin-right: 5px;
}

body .caja_contactos .copyright .logo_copyright.darkMode {
  fill: #cacaca;
}

body .caja_contactos .copyright .txt_copyright {
  -webkit-text-decoration: underline 1px solid #000;
          text-decoration: underline 1px solid #000;
}

body .caja_contactos .copyright .txt_copyright.darkMode {
  color: #cacaca;
  -webkit-text-decoration: underline 1px solid #cacaca;
          text-decoration: underline 1px solid #cacaca;
}

/* Todos los Formatos   Todos los Formatos   Todos los Formatos   Todos los Formatos   Todos los Formatos   Todos los Formatos   */
/* Formatos de opacidad */
.opacidad100 {
  opacity: 100%;
}

.opacidad75 {
  opacity: 75%;
}

.opacidad50 {
  opacity: 50%;
}

.opacidad25 {
  opacity: 25%;
}

.formato_lineas {
  margin: 0 auto 0px auto;
  width: 75%;
}

.formato_hover:hover {
  color: teal;
  cursor: pointer;
}

.formato_cajas_infotep {
  margin: 5px auto;
  text-decoration: none;
  text-align: center;
  width: 300px;
}

.display_block_active {
  display: block;
}

.visibilityVisivible_active {
  visibility: visible;
}

.opacity1_active {
  opacity: 1;
}

.marginLeft0_active {
  margin-left: 0;
}

.marginRight0_active {
  margin-right: 0;
}

.marginTop0_active {
  margin-top: 0;
}

.marginBottom0_active {
  margin-bottom: 0;
}

/* Fomartos de los Logos */
.formato_logos_75px {
  width: 75px;
  height: 75px;
}

.formato_logos_50px {
  width: 50px;
  height: 50px;
}

.formato_logos_40px {
  width: 40px;
  height: 40px;
}

.formato_logos_30px {
  width: 30px;
  height: 30px;
}

.formato_logos_25px {
  width: 25px;
  height: 25px;
}

.formato_logos_15px {
  width: 15px;
  height: 15px;
}

.formato_logos_10x {
  width: 10px;
  height: 10px;
}

/* Formatos de las Imágenes */
.formato_img_600px {
  width: 600px;
  height: 600px;
}

.formato_img_500px {
  width: 500px;
  height: 500px;
}

.formato_img_550px {
  width: 550px;
  height: 550px;
}

.formato_img_400px {
  width: 400px;
  height: 400px;
}

.formato_img_450px {
  width: 450px;
  height: 450px;
}

.formato_img_0_300px {
  width: 100%;
  height: 100%;
}

.formato_img_automatica {
  width: 100%;
  height: 100%;
}

.formato_img_300px {
  width: 300px;
  height: 300px;
}

.formato_img_200px {
  width: 200px;
  height: 200px;
}

.formato_img_250px {
  width: 250px;
  height: 250px;
}

.formato_img_100px {
  width: 100px;
  height: 100px;
}

.formato_img_50px {
  width: 50px;
  height: 50px;
}

/* Formatos de las letras */
.formato_caja_titulos {
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 200px;
  height: 30px;
  margin: 0 auto;
}

.formato_titulo_cajas_mayores {
  background-color: #fff;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5px 15px;
  margin-top: 20px;
  color: #008080;
  -webkit-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.formato_titulo_cajas_mayores.darkMode {
  color: #cacaca;
  background-color: #222222;
  -webkit-box-shadow: 0 -10 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -10 10px rgba(0, 0, 0, 0.5);
}

.formatos_titulos_35px {
  font-size: 2.1875rem;
}

.formato_letras_titulos_pequeños {
  font-size: 20px;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.formatos_titulos_20px {
  font-size: 1.25rem;
  font-family: cursive;
  color: #000;
  text-decoration: none;
}

.formato_text_os_20px {
  font-size: 1.25rem;
  font-family: monospace;
}

.formato-caja_redes_sociales {
  border-radius: 50px;
  width: 150px;
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formato_btn_hover_teal:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background: #008080;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.Formato_btn {
  border-top: 3px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: none;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  background: #008080;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}

.Formato_btn.darkMode {
  border-top: 3px solid #cacaca;
  border-left: 2px solid #cacaca;
  border-right: 2px solid #cacaca;
}

.Formato_btn:hover {
  background: #008080bb;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5);
}

/* Fin de Formatos */
/*# sourceMappingURL=nuevo_curriculum.css.map */